.tos-container {
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    background-color: #12141d;
}

.tos-title {
    font: 700 64px/1.2 "Inter", Helvetica, Arial, serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.tos-content {
    font: 16px/1.6 "Inter", Helvetica, Arial, serif;
    color: #fff;
    background-color: #12141d;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.tos-content h2 {
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #287cff;
    color: #287cff;
}

.tos-content p {
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.8;
}

.tos-content a {
    color: #FFDD00;
    text-decoration: underline;
}

.tos-content ul {
    margin-left: 20px;
    padding-left: 0;
    list-style-type: disc;
}

.tos-content li {
    margin-bottom: 10px; /* Add some space below each list item */
    padding-left: 20px; /* Add padding to make room for the custom bullet */
    position: relative; /* Position relative to the pseudo-element */
  }
  
  .tos-content li::before {
    content: '•'; /* Unicode character for bullet */
    color: #fff; /* White color bullet */
    font-size: 20px; /* Adjust size as needed */
    position: absolute; /* Absolute position inside the li element */
    left: 0; /* Align to the left */
    top: 50%; /* Center vertically */
    transform: translate(0, -50%); /* Adjust vertical position to align perfectly */
  }